// Mixin for the use of Webfonts

@mixin declare-font-face($font-folder, $font-family, $font-filename) {
  @font-face {
    font-family: #{$font-family};
    src:  url('./assets/fonts/#{$font-folder}/WOFF2/OTF/#{$font-filename}.otf.woff2') format('woff2'),
          url('./assets/fonts/#{$font-folder}/WOFF/OTF/#{$font-filename}.otf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
