// Mixin for the use of Webfonts

@mixin declare-font-face($font-folder, $font-family, $font-filename) {
  @font-face {
    font-family: #{$font-family};
    src:url('./assets/fonts/#{$font-folder}/EOT/#{$font-filename}.eot');
    src:url('./assets/fonts/#{$font-folder}/EOT/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/#{$font-folder}/WOFF/OTF/#{$font-filename}.otf.woff') format('woff'),
        url('./assets/fonts/#{$font-folder}/WOFF/TTF/#{$font-filename}.ttf.woff') format('truetype'),
        url('./assets/fonts/#{$font-folder}/SVG/#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: normal;
        font-style: normal;
  }
}
